<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Administracion de Libros</title>
<link rel="stylesheet" href="css/general.css">
<link rel="stylesheet" href="css/generalAdmin.css">
<link rel="stylesheet" href="css/movil.css">
<link rel="stylesheet" media="(max-width: 600px)" href="css/tablet.css">
<link rel="stylesheet" media="(max-width: 800px)" href="css/pc.css">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
	<header>
		<h2>
			<a th:href="@{/adminIndex}">LogoAdmin</a>
		</h2>
		<!--Esto será luego una imagen o algo asi-->

	</header>
	<aside id="menuMovil">
		<img src="images/close_black_24dp.svg">
		<h3>
			<a th:href="@{/adminContacto}">Contacto</a>
		</h3>
		<h3>
			<a th:href="@{/adminClientes}">Cliente</a>
		</h3>
		<h3>
			<a th:href="@{/adminEjemplares}">Libro</a>
		</h3>
	</aside>
	<nav>
		<h3>
			<a th:href="@{/adminContacto}">Contacto</a>
		</h3>
		<h3>
			<a th:href="@{/adminClientes}">Cliente</a>
		</h3>
		<h3>
			<a th:href="@{/adminEjemplares}">Libro</a>
		</h3>
		<!---->
		<img src="images/menu_black_24dp.svg" id="btnMenuMovil">
	</nav>
	<main>

		<table>
			<thead>
				<tr>
					<th>ISBN</th>
					<th>Nombre</th>
					<th>Editorial</th>
					<th>Stock</th>
					<th>Cambiar Stock</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="${}">
					<td th:text="${}"></td>
					<td th:text="${}"></td>
					<td th:text="${}"></td>
					<td th:text="${}"></td>
					<td class="cambiarInput"><a>Cambiar Stock</a> <input
						type="number" id="cambiarStock"></td>
					<!--Cuando hagas click en el link de cambiar stock, aparecerá el input number-->
				</tr>
			</tbody>
		</table>
	</main>
	<footer>
		<div>
			<div>
				<p>adipisicing elit. Perferendis praesentium veniam eligendi</p>
			</div>
			<div>
				<p>nihil, totam molestiae, soluta facilis quibusdam fugit
					reiciendis natus quam fuga alias dolores repudiandae!</p>
			</div>
			<div>
				<p>Lorem ipsum dolor sit amet consectetur aliquid deserunt.
					Iusto, a</p>
			</div>
		</div>
		<h4>©Bibliotecarios S.L. 2022/2023</h4>
	</footer>
	<script src="js/jquery-3.6.3.min.js"></script>
	<script src="js/admin.js"></script>

</body>

</html>